* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  /* Example font, adjust as needed */
  color: white;
}


main {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 20px;  */
  /* margin-bottom: 10px; */
  height: 50px;
}

header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

header nav {
  display: flex;
  gap: 15px;
}

.Current {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 80%;

  flex-direction: row;
}

@media (max-width: 600px) {
  .Current {
    flex-direction: column;
    padding: 10px;
  }
}

.Buttons {
  display: flex;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
  gap: 10px;
}

@media (max-width: 600px) {
  .Buttons {
    flex-direction: column;
    gap: 20px;
  }

  .Buttons>* {
    width: 100%;
  }
}

.forecastStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
@media (max-width: 600px) {
  .forecastStyle {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}